.requiered {
  border: 1px solid red;
}

.requiered::-webkit-input-placeholder {
  color: red;
}

.requiered:-ms-input-placeholder {
  color: red;
}

.requiered::-ms-input-placeholder {
  color: red;
}

.requiered::placeholder {
  color: red;
}

#form {
  display: none;
}

.lightbox {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1100;
}

.lightOn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lightbox .btn_close {
  position: absolute;
  top: .5em;
  right: .5em;
  width: 3em;
  height: 3em;
  background: image("assetssvgx-circle.svg");
  float: right;
}

.lightbox .tarjeta {
  width: 90%;
  height: 90vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  word-break: break-word;
}

.card-body span {
  padding-left: 10px;
  padding-right: 10px;
}

#imgCard {
  max-height: 50%;
  max-width: 100%;
}

#imgCard_img {
  max-height: 100%;
  max-width: 100%;
}

.welcomeCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1100;
}

.welcomeCardContainer .welcomeCard {
  width: 95%;
  height: 95vh;
  background: url("./assets/welcomeCard.jpg") no-repeat center center;
  background-size: contain;
}

.btn_sort {
  border: none;
  background: none;
  background-image: url("./assets/svg/arrow-down-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 1em;
}

.btn_sort:hover {
  background-color: rgba(218, 218, 218, 0.5);
}

.btn_sort:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(218, 218, 218, 0.5);
}

.tbody td {
  word-break: break-all;
}

#search-input::-webkit-search-cancel-button {
  display: none;
}
/*# sourceMappingURL=style.css.map */