.btn_sort {
    border: none;
    background: none;
    background-image: url('/assets/svg/arrow-down-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 1em;
}

.btn_sort:hover {
    background-color: rgba($color: #dadada, $alpha: 0.5);
}

.btn-primary:focus{
    outline: none;
    box-shadow: none;
    background-color: rgba($color: #dadada, $alpha: 0.5);
}