.welcomeCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 1100; //Bootstrap nav => z-index: 1020
}

.welcomeCardContainer .welcomeCard {
    width: 95%;
    height: 95vh;
    background: url('./assets/welcomeCard.jpg') no-repeat center center; 
    background-size: contain;
}
